@import "src/styles/colors";

.board {
  position: relative;
  padding: 1rem 0.5rem;
  background: $background-white;

  &__title {
    margin-bottom: 0.5rem;
    color: $font-color;
  }

  & > Button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 6px;
    width: 40px;
    text-align: right;
    font-size: 1.75rem;
    border-radius: 50%;
    z-index: 30;
    transition: all 0.3s ease-out;
    @media (min-width: 600px) {
      display: none;
    }
  }
}

.notesWrapper {
  padding: 0.5rem;
  background: $background-smoke;
  color: $font-color;
}

.ModalCreateNote {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: minmax(280px, 400px);
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
