@import "src/styles/colors";

.note {
  margin-bottom: 0.5rem;
  padding: 1rem;
  color: $font-color;

  & ul {
    padding: 0.75rem 0.5rem 0;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__text {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: $background-smoke;
  }

  &__date {
    font-size: 0.75rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }

  &__tag-list {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    min-height: 48px;
    border: none;
    border-radius: 4px;
    background: $background-smoke;
    color: $second-font-color;
  }

  &__tag {
    position: relative;
    display: inline-block;
    margin: 0 1rem 0.75rem 0;
    padding: 0 0.25rem;
    list-style-type: none;
    border-radius: 4px;
    background: $background-graphite;
    color: $second-font-color;

  }
}